*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

html{
   
    background-image: url(/images/playful-kitten-6683.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    font-size: 4vh;
    
}

.orange-shadow{
    color: rgba(255, 153, 0);
    text-shadow: 2px 2px black;
     
}

h1{
    font-size: 225%;
    margin-left: 2vw;
}

#netflix{
    font-size: 100%;
    text-align: center;
    display: inline-block;
    margin-left: 2vw;
}

#netflix-logo{
    vertical-align: middle;
    max-height: 8vh;
    max-width: 100%;
}

nav{
    z-index: 1;
    position: absolute;
    bottom: 5vh;
    right: 0;
}

.nav-links{
    font-size: 125%;
    text-decoration: none;
    padding: 1vh; 
    font-weight: 400px;
}

#schedule-popup{
    color: rgb(255, 153, 1);
    background-color: rgba(0,0,0,0.8);
    border: 2px rgb(255, 153, 1) solid;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%; 
}

#close-popup{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    max-width: 4vw;
    max-height: 4vh;
}

#pawprint{
    max-width: 4vw;
    max-height: 4vh;
    display: none;
}
/*display pawprint on hover*/
a:hover {
    position: relative;
}

a:hover:after {
    content: url(/images/pawprint.png); 
    display: block;
    position: absolute;
    left: 50%; 
    top: 50%; 
}