body html{
    font-family: 'Raleway', sans-serif;
    
}

.jumbotron{
    height: 100vh;
    text-align: center;
    background: url(bg-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.section-style{
        justify-content: center;
        margin-top: 60%;
    }

h1{
    font-family: 'Bad Script', cursive;
    
}

h1 span{
    color: rgba(85, 50, 133, 1);
    font-weight: 900;
    
    
}

/* Packages CSS */

#packages .card-deck{
    margin: 3.25em;
  }
  
  #packages .card{
    margin: 1em;
    border: 1px solid rgba(80, 50, 133, 1);
  }
  
  #packages .card-header{
    background-color:rgba(80, 50, 133, 1);
  }
  
  #packages .card-header h5{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    
  }
  
  #packages .card-footer{
    background-color: rgba(255, 255, 255, 1);
  }


/* Contact Form CSS */

#contact{
    background-color: rgba(85, 50, 133, 1);
}

.contact-form {
    padding: 50px;
    margin: 30px auto;
    
}	
.contact-form h1 {
    font-size: 42px;
    /* font-family: 'Pacifico', sans-serif; */
    margin: 0 0 50px;
    text-align: center;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-control, .contact-form .btn {
    min-height: 38px;
    border-radius: 2px;
}
.contact-form .form-control {
    border-color: rgba(85, 50, 133, 1);
}
.contact-form .form-control:focus {
    border-color: #d8b012;
    box-shadow: 0 0 8px #dcae10;
}
.contact-form .btn-primary {
    min-width: 250px;
    color: rgba(85, 50, 133, 1);
    background: #000;
    margin-top: 20px;
    border: none;
}
.contact-form .btn-primary:hover {
    color: #fff; 
}
.contact-form .btn-primary i {
    margin-right: 5px;
}
.contact-form label {
    opacity: 0.9;
}
.contact-form textarea {
    resize: vertical;
}

/* Kanise Portfolio CSS */

#kanise-marshall{
    margin: 3.25em;
}
#bio-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vw 40vw;
    grid-gap: 1em;
    margin: 0 auto;
    padding: 1em 0;
  }
  
  #kanise-name {
    grid-column: 1 / span 2;
    
  }

  #kanise-name h3{
    font-family: 'Bad Script', cursive;
    color: rgba(80, 50, 133, 1);
    font-weight: bold;
  }

  
  #kanise-name,
  #kanise-image,
  #kanise-bio,
  #kanise-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #kanise-bio{
      background: #eaeaea;
  }

  #kanise-portfolio h4{
    font-family: 'Bad Script', cursive;
    color: rgba(80, 50, 133, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #kanise-portfolio .card-container{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
/* #kanise-portfolio .card{
    display: inline-block;
} */