body html{
    font-family: 'Raleway', sans-serif;
    
}

:root{
    --writebrand: rgb(55, 29, 62);
    --greybackground: rgb(250, 250, 250);

}

.jumbotron{
    height: 100vh;
    text-align: center;
    background-color: var(--writebrand);
    
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-logo{
    max-width: 200px;
    max-height: 200px;
}

#logo{
    max-width: 800px;
    max-height: 800px;
    
}
.section-style{
        justify-content: center;
        margin-top: 60%;
    }

/* h1{
    font-family: 'Bad Script', cursive;
    
}

h1 span{
    color: var(--writebrand);
    font-weight: 900;
    
    
} */

/* Packages CSS */
section#packages h3, h4{
    text-align: center;
    color: var(--writebrand);
}

.card{
    display: flex;
}

#packages .card-deck{
    margin: 3.25em;
  }
  
  #packages .card{
    margin: 1em;
    border: 1px solid var(--writebrand);
  }
  
  #packages .card-header{
    background-color:var(--writebrand);
  }
  
  #packages .card-header h5{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    
  }
  
  #packages .card-footer{
    background-color: rgba(255, 255, 255, 1);
  }


/* Contact Form CSS */

#contact{
    background-color: var(--greybackground);
    
}

.contact-form {
    padding: 50px;
    margin: 30px auto;
    border-color: var(--writebrand);
    color: var(--writebrand);
    
}	
.contact-form h1 {
    font-size: 42px;
    /* font-family: 'Pacifico', sans-serif; */
    margin: 0 0 50px;
    text-align: center;
    color: var(--writebrand);
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-control, .contact-form .btn {
    min-height: 38px;
    border-radius: 2px;
    
}
.contact-form .form-control {
    border-color: var(--writebrand);
}
.contact-form .form-control:focus {
    border-color: #d8b012;
    box-shadow: 0 0 8px #dcae10;
}
.contact-form .btn-primary {
    min-width: 250px;
    color: var(--greybackground);
    background: var(--writebrand);
    margin-top: 20px;
    border: none;
    
}
.contact-form .btn-primary:hover {
    color: #fff; 
}
.contact-form .btn-primary i {
    margin-right: 5px;
    
}

button.btn.btn-primary{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-form label {
    opacity: 0.9;
}
.contact-form textarea {
    resize: vertical;
}

/* Kanise Portfolio CSS */

#kanise-marshall{
    margin: 3.25em;
}
#bio-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vw 40vw;
    grid-gap: 1em;
    margin: 0 auto;
    padding: 1em 0;
  }
  
  #kanise-name {
    grid-column: 1 / span 2;
    
  }

  #kanise-name h3{
    font-family: 'Bad Script', cursive;
    color: var(--writebrand);
    font-weight: bold;
  }

  #kanise-marshall,
  #kanise-name,
  #kanise-image,
  #kanise-bio
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #kanise-bio{
      max-width: 75%;
      background: #eaeaea;
      border: 1px solid var(--writebrand);
  }
  div#kanise-bio p{
      padding: 1em;
  }

  #kanise-portfolio .card{
      max-width: 80vw;

      
  }

  #kanise-portfolio h4{
    font-family: 'Bad Script', cursive;
    color: var(--writebrand);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #kanise-portfolio h5{
    font-family: 'Bad Script', cursive;
    color: var(--writebrand);
    text-align: left;
  }

  /* #kanise-portfolio-mobile .card-container{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    } */

   
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo{
        display: none;
    }
    #packages .card{
        min-height: 34em;
    }
   

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #mobile-logo{
        max-width: 400px;
        max-height: 400px;
    }
    #logo{
        display: none;
    }

    #packages .card{
        min-height: 45em;
    }
    #kanise-portfolio-mobile .card-container{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        grid-gap: 1rem;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #mobile-logo{
        display: none;
    }

    #logo{
        display: inherit;
        width: 600px;
        height: 600px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    #packages .card{
        min-height: 60em;
    }

}